#inspector {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 240px;
  height:100%;
  background-color: lightgrey;
  z-index: 98 !important;
  visibility: hidden;
  padding: 20px;
  opacity:0.75
}

#toggle {
  position:absolute;
  left: 20px;
  top: 20px;
  width: 240px;
  z-index: 99 !important;
  visibility: visible;
  opacity: .5;
}
